/* Whole page */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
font-size: 10px;
font-family: Gotu;
background-color: #333;
color: white;
}

/* Top Section */

#title {
  /* text */
  font-size: 10rem;
  font-family: Gotu;
  text-align: center;
  
  
  /* spacing */
  padding-top: 5vh;
}

.parallax{
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.araki-image{
  background-image: url("https://d1uzk9o9cg136f.cloudfront.net/f/16783302/rc/2018/11/22/d486a2a8b168453f4dd24db0d7ac0620acaca75f_xlarge.jpg");
  min-height: 100vh;
}

/* Info Section */

h2, h3 {
  font-size: 4rem;
  text-align: center;
}

hr{
/* spacing */
margin-bottom: 2.5rem;

/* opacity gradient */
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#tribute-info {
  padding: 4rem;
  margin-bottom: 10px;
}

blockquote{
border-left: 5px solid #CCC;
padding-left: 1rem;
margin: 0 auto;
}

blockquote, p, ul{
max-width: 70vw;
font-size: 1.65rem;
line-height: 2.85rem;
}

/* Timeline Section */

.timeline{
padding: 4rem;
}

.res-img{
  /*responsive image class*/
  display: block;
  max-width: 100%;
  height: auto;
}

#image{
  width: 40vw;
  margin: auto;
  margin-bottom: 2rem;
}

figure{
  margin-bottom: 5rem;
  background-color: white;
  color: #333;
}

figcaption{
font-size: 1.65rem;
margin: 0px 1.5em;
}

.flex-container{
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
}

ul{
margin: 0 auto;
line-height: 4rem;
}

time{
font-weight: bold;
}


/* Bottom Section */

footer{
padding: 4rem;
text-align: center;
background-color: white;
color: #333;
font-size: 1.65rem;
}

#tribute-link{
tabindex: 1;
}

a:hover{
opacity: 0.7;
}

#jeff-codepen{
tabindex: 2;  
margin-top: 2.5rem;
}

/* Media query */
@media (max-width: 768px){
#title{
  font-size: 7rem;
}

#tribute-info{
  padding: 3.5rem;
}

#image{
  width: 50vw;
}

.timeline{
  padding: 2.5rem;
}

}